* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    color: black!important;
}

p.citation {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color:rgb(135,59,63)!important;
}
p.auteur {
    font-size: 12px;
    color: rgb(135,59,63)!important;
}

.d-bloc a .icon-md {
    color: black;
}

.d-bloc a:hover .icon-md {
    color:white;
}

label 
{
    font-family: "helvetica";
    font-weight: 400;
    color: #333333!important;
}

section.description .row .col-xs-12 p.citation {
    width: 100%;
    font-size: 1.5em;
    font-style: italic;
}

.col-sm-4 .center {
    font-weight: 700;
    color: rgb(135,59,63);
}

.row .col-sm-12 p {
    color: white!important;
}